.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px; /* Add space from the top */
}

.card {
  width: calc(25% - 10px); /* Adjust width to fit four cards in a row */
  margin-bottom: 20px; /* Add space between rows */
  border: 1px solid #ccc; /* Add border for better separation */
  border-radius: 8px; /* Rounded corners */
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px; /* Add padding for content */
}

.card-title {
  font-size: 1.25rem;
}

.card-text {
  margin-bottom: 20px; /* Add space below text */
}

.explore{
  position: absolute;
  left: 50%;
  top:80%;
  translate:transform(-50%,-50%);
  color: rgb(71, 229, 71);
}