.nav-link{
  margin-left: 2rem;
  font-family: math;
  font-size: large;
}
.bg-body-tertiary{
    background-color: rgba(17, 32, 35, 0.98) !important;;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
  color: rgb(255 248 248);
  text-shadow: -2px -2.5px 5px #ff0a2c;
}

.navbar-nav .nav-link:hover{
  color: rgb(150, 242, 239);
  
}

.adm{
  color: rgb(124, 249, 124);
}
.navbar-toggler{
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  /* color: white; */
  background-color: #b4b4b4;
  /* border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color); */
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}