.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .profile {
    width: 400px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .profile-info {
    margin-bottom: 20px;
  }
  
  .field {
    margin-bottom: 15px;
  }
  
  .field label {
    display: block;
    margin-bottom: 5px;
  }
  
  .field input[type='text'],
  .field input[type='email'],
  .field input[type='password'],
  .field select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .check {
    margin-top: 10px;
  }
  
  .check label {
    margin-right: 10px;
  }
  
  .btn-rlog {
        /* display: flex; */
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        font-size: larger;
        font-family: math;
        margin-top: 3rem;
        width: fit-content;
        border: 1px solid green;
        color: blue;
        border-radius: 1rem;
        box-shadow: 1px 1px 2px 1px rgb(39, 169, 47);
        background-color: azure;
  }
  
  .btn-rlog:hover {
    box-shadow: 2px 2px 10px 2px rgb(12, 207, 44);
    background-color: aliceblue;
  }
  
  .cnt_h{
    margin: 2% 2% 2%;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px 1px greenyellow;
    
  }
  
  