/* admin.css */

.admin-container {
  display: flex;
  flex-direction: column; /* Stack the items vertically on small screens */
}

.nav {
  width: 100%; /* Full width on small screens */
  position: relative; /* Remove fixed positioning */
  top: 0;
  left: 0;
  height: auto; /* Auto height to fit content */
  overflow-y: auto;
  background-color: #f4f4f4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav ul li {
  margin: 0;
  padding: 10px 20px;
  width: 100%;
}

.nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.nav ul li a svg {
  margin-right: 12px;
}

.content {
  flex: 1;
  padding: 20px;
}

h1 {
  color: navy;
  font-family: monospace;
  text-align: center;
}

#admuser {
  color: green;
  font-family: 'Times New Roman', Times, serif;
}

/* Media query for small devices */
@media (max-width: 768px) {
  .admin-container {
    flex-direction: column;
  }

  .nav {
    width: 100%;
    position: static;
    box-shadow: none;
  }

  .content {
    margin-left: 0;
  }
}


.wlm{
  background-color: aquamarine;
  margin-top: .5%;
}

#adm1{
  color: red;
  position: absolute;
left: 25%;
  top: 50%;
  translate: transform(-20%,-40%);
}