.users-data {
    margin-top: 20px;
  }
  
  .users-data table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .users-data th,
  .users-data td {
    padding: 10px;
    text-align: left;
  }
  
  .users-data th {
    background-color: #f2f2f2;
    border-bottom: 2px solid #ddd;
  }
  
  .users-data td {
    border-bottom: 1px solid #ddd;
  }
  
  .users-data tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .users-data tr:hover {
    background-color: #ddd;
  }
  
  .delbtn:hover{
    cursor: pointer;
    color: red;
  }

  .adm{
    color: rgb(26, 164, 1);
  }