
body{
    background-color: #9AC8CD;
}

@media screen and (max-width: 768px) {
    .hm1 {
        flex-direction: column; /* Stack image and text vertically on smaller devices */
        align-items: center; /* Center items vertically */
    }

    .hm1 img {
        margin-bottom: 20px; /* Add space below image */
        max-width: 80%; /* Adjust image size for smaller devices */
    }
}



.card{
    padding:0;
    
  }

  
  
  