
.load{
    position: absolute;
    left: 50%;
    top:50%;
    translate:transform(-50%,-50%);
    font-size: x-large;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    color: rgb(120, 0, 233);
    background-color: bisque;
    border-radius: 1rem;
    border-style: dotted;
    padding: 5px 5px 5px;
}