/* Profile page styling */
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .profile {
    background-color: #ffffff;
    padding: 60px; /* Increased padding for larger box size */
    border-radius: 20px; /* Increased border radius */
    box-shadow: 2px 2px 15px 8px #1c0532e8;
    max-width: 800px; /* Increased max-width for larger box */
    width: 100%;
    position: relative; /* Ensure positioning of the icon container */
    display: flex;
    flex-direction: column;
  }
  
  .profile h2 {
    margin-top: 0;
    text-align: center;
    color: #333333;
  }
  
  .profile-info {
    margin-top: 20px; /* Increased margin-top for spacing */
    flex-grow: 1; /* Allow profile info to expand to fill remaining space */
  }
  
  .field {
    margin-bottom: 30px; /* Increased margin-bottom for spacing */
  }
  
  .field label {
    font-weight: bold;
    color: #555555;
  }
  
  .field span {
    display: block;
    margin-top: 10px; /* Increased margin-top for spacing */
    color: #777777;
  }
  
  
  
  .edit-icon {
    display: flex;
    justify-content: space-between; /* Add space between icons */
  }
  
  .edit-icon > * {
    margin-right: 10px; /* Adjust the margin as needed */
  }
  .proHome{
    color: black;
    
  }